
asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.11.17
charset-normalizer==3.3.2
crispy-bootstrap4==2023.1
Django==4.2.7
django-bootstrap-v5==1.0.11
django-crispy-forms==2.1
djangorestframework==3.14.0
docopt==0.6.2
idna==3.6
Pillow==10.1.0
pipreqs==0.4.13
psycopg2==2.9.9
python-decouple==3.8
pytz==2023.3.post1
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
yarg==0.1.9
